extends layout

block main
  h2 ALL TASKS
  .column
    .container
      .tasks
        each task in tasks
          .task
            input(data-id=`${task.id}` class='checkbox' type='checkbox' name='completed')
            input(id=task.id type='text' value=task.task)
            input(type='text' value=task.due)
            .row.space-around
              button(type='button' onclick=`updateTask(${task.id})`) UPDATE
              button(type='button' onclick='cancelUpdate()') CANCEL UPDATE
              button(type='button' onclick=`deleteTask(${task.id})`) DELETE
      .add-task
        button(id="add-task") +
